<h5>Noticias</h5>
<div class="papu-post margin-t-40">
    <ul class="bg-defult">
        <li class="media">
            <div class="media-left"> <a href="#"> <img class="media-object" src="{{ asset('images/portfolio/img-2-1.jpg') }}" width="50" height="50" alt=""></a> </div>
            <div class="media-body"> <a class="media-heading2" href="#.">Ejemplo de noticia nro 1 </a> <span style="color:#CCC">11 de noviembre, 2015</span> </div>
        </li>
        <li class="media">
            <div class="media-left"> <a href="#"> <img class="media-object" src="{{ asset('images/portfolio/img-2-2.jpg') }}" width="50" height="50" alt=""></a> </div>
            <div class="media-body"> <a class="media-heading2" href="#.">Ejemplo de noticia nro 2 </a> <span style="color:#CCC">20 de noviembre, 2015</span> </div>
        </li>
        <li class="media">
            <div class="media-left"> <a href="#"> <img class="media-object" src="{{ asset('images/portfolio/img-2-2.jpg') }}" width="50" height="50" alt=""></a> </div>
            <div class="media-body"> <a class="media-heading2" href="#.">Ejemplo de noticia nro 3 </a> <span style="color:#CCC">22 de noviembre, 2015</span> </div>
        </li>
    </ul>
</div>