<!-- News Letter -->
<div class="container">
    <section class="news-letter">
        <div class="row">
            <div class="col-md-6">
                <h5>Suscribirse a nuestro newsletter</h5>
                <p>Mantenerse informado sobre el proyecto</p>
            </div>
            <div class="col-md-6">
                <form>      <input type="email" class="z-depth-1" placeholder="Dirección de mail" required>
                    <button type="submit" class="btn waves-effect waves-light">suscribirme</button>
                </form>
            </div>
        </div>
    </section>
</div>